<p id="notice"><%= notice %></p>

<p>
  <strong>Sequence number:</strong>
  <%= @match.sequence_number %>
</p>

<p>
  <strong>Lobby type:</strong>
  <%= @match.lobby_type %>
</p>

<p>
  <strong>Radiant team:</strong>
  <%= @match.radiant_team_id %>
</p>

<p>
  <strong>Dire team:</strong>
  <%= @match.dire_team_id %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
