<p id="notice"><%= notice %></p>

<h1>Match Details</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @match_details.each do |match_detail| %>
      <tr>
        <td><%= link_to 'Show', match_detail %></td>
        <td><%= link_to 'Edit', edit_match_detail_path(match_detail) %></td>
        <td><%= link_to 'Destroy', match_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match Detail', new_match_detail_path %>
